@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #f2f2f2;
  font-family: 'poppins', sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --text-color: #f6f6f6;
  --main-color: #0ef;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: url(../images/bg.jpg) 0% 0% / cover repeat;
  background-attachment: fixed;
}

.contentWraper {
  background: rgba(136, 136, 136, 0.1);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem 5%;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  top: 0;
  z-index: 99;
}

.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
  transition: 0.9s;
}
.navbar:hover::before {
  left: 100%;
}

.navbar-logo a {
  color: var(--main-color);
  font-family: 'poppins', sans-serif;
  font-size: 2.5rem;
}
.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}
.navbar-menu li a {
  color: var(--main-color);
  font-size: 1.7rem;
}
.navbar-menu li a:hover,
.navbar-menu li a.active {
  color: var(--text-color);
  transition: 0.3s;
}
#menu-icon {
  font-size: 3.7rem;
  color: var(--main-color);
  display: none;
}
.navbar-logo a {
  text-decoration: none;
}
.navbar-menu li ul {
  display: none;
  list-style-type: none;
  border-radius: 6px;
  padding: 10px 0;
}
.navbar-menu li ul li {
  text-decoration: none;
  margin-bottom: 10px;
}
.navbar-menu li:hover ul {
  display: block;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-size: 1.6rem;
  text-align: justify;
}
/* .home-img {
  width: 25vw;
  box-shadow: 0 0 1.5rem #0ef;
  border-radius: 50%;
} */
.home-img img {
  width: 25vw;
}
.social-media a i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
}
.social-media a i:hover {
  background-color: #00eeffb8;
  color: var(--text-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.decrip {
  margin-top: 2rem;
  padding-right: 1.5rem;
}
span {
  color: var(--main-color);
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.btn i {
  font-size: 1.6rem;
  color: #333;
}
.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about-img img {
  width: 25vw;
}
.heading {
  text-align: center;
  font-size: 3.5rem;
}
.about-content h3 {
  text-align: left;
  line-height: 1.5;
  font-size: 3.5rem;
}
.about-content p {
  font-size: 1.8rem;
  margin: 1rem 0;
}
.about-content ul {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
}
.portfolio h2 {
  margin-bottom: 2rem;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #333;
  overflow: hidden;
  display: flex;
}
.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer h4 {
  font-size: 3rem;
}
.portfolio-layer p {
  font-size: 1.6rem;
  margin: 3rem 0 1rem;
}
.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}
.portfolio-layer a i {
  font-size: 2rem;
  color: #333;
}
.contact h2 {
  margin-bottom: 2rem;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: #252f3b;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.2rem 9%;
  background: #252f3b;
}
.footer-text p {
  font-size: 1.6rem;
  color: var(--text-color);
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
  font-size: 2.8rem;
  color: #031326;
}

/* BREAK POINTS */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .selection {
    padding: 10rem 3% 2rem;
  }
  .portfolio {
    padding-bottom: 7rem;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact {
    min-height: auto;
  }
  .home-img {
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: #031326;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar-menu.active {
    display: block;
  }
  .navbar-menu li {
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 4rem;
  }
  .home-img img {
    width: 50vw;
  }
  .portfolio h2 {
    margin: 5.5rem 0;
  }
  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 617px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .footer-text p {
    font-size: 1.2rem;
  }
  .home-content h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .home-content h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .home-img {
    margin-top: 3rem;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 60vw;
  }
}
